<footer class="g_main-footer">
    <section class="g_contacto-container">
        <p class="g_footer_titulo">CONTÁCTANOS</p>
        <div class="g_f-content-links">
            <a class="social_media"  href="#!" > <i class="fa-brands fa-facebook"> </i></a>
            <a class="social_media"  href="#!" ><i class="fa-brands fa-instagram"></i></a>
            <a class="social_media"  href="#!" ><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </section>

    <section class="g_tienda-container">
        <p class="g_footer_titulo">TIENDA</p>
        <div class="g_f-content-links">
            <a href="#"><p>Productos</p></a>
            <a href="#"><p>Servicios</p></a>
        </div>
    </section>

    <section class="g_ubicacion-container">
        <p class="g_footer_titulo">UBICACIÓN</p>
        <div class="g_f-content-links">
            <p>Avenida falsa 123</br>Concordia, Entre Rios</p>
        </div>
    </section>
</footer>
<script src="https://kit.fontawesome.com/bba30a0282.js" crossorigin="anonymous"></script>