<header class="g_main-header">
    <div class="g_width-head g_wider-header">
        <button class="g_burguer-menu">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="g_nav-bar">
            <ul>
                <li class="nav-link btn"><a href="#">QUIENES SOMOS</a></li>
                <li class="nav-link btn"><a href="#">SHOP</a></li>

            </ul>
        </div>

        <div class="g_logo-container">
            <a href="/"><img src="/img/maranatha_logo.png" alt="Logo Maranatha" class="g_logo-image"></a>
        </div>

        <div class="g_user-cart ">
            <a href="/user/login">
                <i class="fa-regular fa-user"></i>
            </a>

            <a href="/product/cart" class="g_cart-icon ">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <div class="g_search-header">
            <form action="/" method="GET">
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input type="text" name="searchBar" placeholder="Busca un producto"/>
            </form>
        </div>
    </div>
</header>