<body class="d-flex flex-column">
    <!-- HEADER--> 
    <header>
        <nav class="navbar sticky-top navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand me-auto" href="/"><img class="logo img-fluid" src="../../img/partials/maranatha_logo.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between " id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0 ">

                        <li class="nav-item mt-3 mt-lg-0">
                            <a class="nav-link active" aria-current="page" href="/product/list">SHOP</a>
                        </li>

                        <li class="nav-item mt-lg-0">
                            <a class="nav-link active" aria-current="page" href="/about">NOSOTROS</a>
                        </li>
                    
                        <!---<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" aria-current="page" href="/product" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">SHOP</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                                <li><a class="dropdown-item " id="nav-nav-boton" href="#">Maquillaje</a></li>
                    
                                <li><a class="dropdown-item " id="nav-nav-boton" href="#">Cuidado de la piel</a></li>
                        
                                <li><a class="dropdown-item" id="nav-nav-boton" href="#">Cuidado del cabello</a></li>

                                <li><a class="dropdown-item" id="nav-nav-boton" href="#">Unas</a></li>

                                <li><a class="dropdown-item" id="nav-nav-boton" href="#">Perfumes</a></li>

                                <li><a class="dropdown-item" id="nav-nav-boton" href="#">Hombres</a></li>

                                <li><a class="dropdown-item" id="nav-nav-boton" href="#">Todos los productos</a></li>
                                
                            </ul>
                        </li>--->

                        <li class="nav-item mt-lg-0">
                            <a class="nav-link active" aria-current="page" href="#footer">CONTACTO</a>
                        </li>
                    
                    </ul>

                    <div class="ms-auto d-flex ">
                        <ul class="navbar-nav me-2 mb-lg-0">

                            <li class="nav-item">
                                <form method="GET" action="" class="d-flex">
                                    <input class="form-control m-auto mb-3 m-lg-auto mb-lg-0" id="buscador" type="search" placeholder="Buscar" aria-label="Search">
                                    <button class="btn btn-outline-success m-auto mb-3 pb-3 mb-lg-0 pb-lg-2" type="submit" id="searchicon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg></button>
                                </form>
                            </li>

                        </ul>
                
                        <ul class="navbar-nav me-2 mb-lg-0">
                            <li class="nav-item ">
                                <a class="btn btn-outline-success ms-4 me-1" id="login_cart" type="button" href="/user/login"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                    </svg> 
                                </a>
                                    
                            </li>
                        </ul>

                        <ul class="navbar-nav me-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="btn btn-outline-success ms-1 me-1 position-relative" id="login_cart" type="button" href="/product/cart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                                        <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                                    </svg>
                                    <span class="position-absolute top-0 end-0 badge border border-light rounded-circle bg-danger p-2 visually-hidden" id="cart-notification">
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- HEADER--> 