<!-- HEAD-->   
    <%- include('./partials/head.ejs', {title: 'Descubrenos'}) %>
    <!-- Link general css file --> 
   <link rel="stylesheet" href="/css/partials/stylePartials.css">
   <link rel="stylesheet" href="/css/index/aboutUs.css">
</head>
<!-- HEAD-->  

<!-- HEADER--> 
    <%- include('./partials/header.ejs') %>
<!-- HEADER--> 
<!-- MAIN--> 
<section class="aboutH mt-2 mb-5 py-4 ">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-12 mx-auto col-sm-12 col-12 text-center">
                <h1>Nosotros</h1>
                <div class="line mx-auto"></div>
                <p class="mt-4 me-2 ms-2 px-2">Somos una tienda online Argentina para comprar maquillaje, skincare y productos para el pelo. En nuestro sitio 
                encontrarás las mas reconocidas marcas nacionales de productos de belleza, cosméticos y make up como Lidherma, Idraet, Mira Dror, Carthage, Excel y más marcas líderes de química cosmética.
                <br>
                Tenemos productos para todo tipo de piel: seca, mixta, grasa, piel rosacea, etc. Encontrá lo necesario para tu rutina de limpieza y cuidado de la piel en nuestras categorías.
                Cada día trabajamos en ofrecer los mejores productos y la mejor atención a nuestros clientes. Hacemos envíos a todo el país y ofrecemos grandes facilidades de pago.
                ¡Esperamos que disfrutes de comprar con nosotros! Y si tenés alguna duda o pregunta, contactanos ¡Estaremos encantados de ayudarte!</p>
    

            </div>
        </div>

    </div>

</section>
<!-- MAIN--> 
<!-- SUBSCRIBITE  -->
<section class="subscribite mx-auto py-4 px-4" >
        
    <div class="container subscribite">
        <div class="row ">
            <div class="col-lg-12 text-center">
                
                <h1 class="head3" >Recibí novedades, promociones y beneficio</h1>
                <p class="per3 m-o">E - Maranatha tiene como objetivo ofrecer soluciones para la piel, el cabello, 
                y el cuerpo para asi lograr un aspecto más hermoso y saludable.</p>
                
            </div>
        </div>
        <div class="row">
            <form action="https://formspree.io/f/mdovanzv" method="post" class="row formSubscribe g-3 smalltext" >
                    <div class="col-lg-3">
                    <label for="name" class="form-label subscribiteLabel">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Nombre" required>
                    </div>
                    <div class="col-lg-3">
                    <label for="lastname" class="form-label subscribiteLabel">Apellido</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Apellido" required>
                    </div>
                    <div class="col-lg-4">
                    <label for="inputEmail4" class="form-label subscribiteLabel">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
                    </div>
        
                    <div class="col-2 mx-auto mx-sm-auto mx-md-auto" >
                    <button type="submit" class="btn subscribiteBtn mx-auto mt-lg-4 px-2">Subscribite</button>
                    </div>
            </form>
        </div>

    </div>
</section>

<!-- SUBSCRIBITE -->
<!-- FOOTER --> 

<%- include('./partials/footer.ejs') %>

<!-- FOOTER--> 