<!-- HEAD-->   
    <%- include('./partials/head.ejs', {title: 'Error', logo: "../../../img/partials/maranatha_logo.png"}) %>
    <!-- Link general css file --> 
    <link rel="stylesheet" href="/css/partials/stylePartials.css">
</head>
<!-- HEAD-->

<!-- HEADER--> 
    <%- include('./partials/header.ejs') %>
<!-- HEADER--> 

    <!-- MAIN --> 
    <section class="container h-100 w-100 d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1>
                404 Ups! algo esta mal con esta ruta
            </h1>
            <span>Por favor vuelve a intentarlo</span>
        </div>
    </section>

    <!-- MAIN--> 

<!-- FOOTER-->   
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script> -->
<%- include('./partials/footer.ejs') %>

<!-- FOOTER--> 