<!-- HEAD-->   
    <%- include('./partials/head.ejs', {title: 'E-maranatha'}) %>
    <!-- Link general css file --> 
   <link rel="stylesheet" href="/css/partials/stylePartials.css">
   <link rel="stylesheet" href="/css/index/styleHome.css">
</head>
<!-- HEAD-->   
<body>
<!-- HEADER--> 
    <%- include('./partials/header.ejs') %>
<!-- HEADER--> 

<!-- MAIN--> 
<section class="mainHome ">
    <div class="container">
        <div class="row pt-5 justify-content-center">

            <div class="col-lg-12 mt-5 ">
                <p class="nameH m-0 mt-lg-0 pt-0">E - Maranatha</p>
                <h1 class="mt-5 pt-5">For a better you, today & always</h1>
            </div>

            <div class="col-lg-12 mt-5 text-center">
                <a href="/product/list" class="btn btn-info mbtn1 text-center" role="button">Shop now</a>
            </div>

        </div>
    </div>
</section>

<!-- CAROUSEL HOME--> 
<section class="productH text-center mb-5 ">
    <div class="container">
        <div class="row py-5 mt-2 text-white">

            <div class="col-lg-6 mx-auto">
                <h1>Novedades</h1>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img src="img/home/10.png" class=" carousel-imagen d-block w-80 mx-auto img-fluid" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p class="carousel-p">Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="img/home/13.png" class="carousel-imagen d-block w-80 mx-auto img-fluid" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p class="carousel-p">Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="img/home/5.png" class="carousel-imagen d-block w-80 mx-auto img-fluid" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p class="carousel-p">Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

</section>
    <!--  CAROUSEL HOME--> 
   
    <!-- BANER HOME --
      <section class="banerH text-center pb-5">
        <div class="container py-5">
            <div class="row py-5 text-white">
                <div class="col-lg-6 m-auto">
                    <h1>Marcas</h1>
                    <p>Descubri las mejores marcas</p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-lg-0 mb-3">
                    <div class="card py-3">
                        <div class="card body">
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift-fill" viewBox="0 0 16 16">
                                <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
                              </svg></span>
                            <h2>Loreal</h2>
                            <p>Tu cabello brillara</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 mb-lg-0 mb-3">
                    <div class="card py-3">
                        <div class="card body">
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift-fill" viewBox="0 0 16 16">
                                <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
                              </svg></span>
                            <h2>Loreal</h2>
                            <p>Tu cabello brillara</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 mb-lg-0 mb-3">
                    <div class="card py-3">
                        <div class="card body">
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift-fill" viewBox="0 0 16 16">
                                <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
                              </svg></span>
                            <h2>Loreal</h2>
                            <p>Tu cabello brillara</p>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </section>
    BANER HOME--> 

   

<!-- PRODUCTS HOME -->
<section class="productsBuy mt-2">
    <div class="container">

        <div class="row py-4 text-center">
            <div class="col-lg-6 m-auto">
                <h1>Mas vendidos</h1>
            </div>
        </div>

        <div class="spinner"></div>

        <div class="container">
            <div class="products-container row row-cols-3"></div>
        </div>

        <div class="row ">
            <div class="col-lg-12">
                <a href="/product/list" class="btn my-5 py-2 viewMore ">Todos los productos</a>
            </div>
        </div>
    </div>
</section>
<!--PRODUCTS HOME  -->

<!-- DISCOUNT  -->
<section class="discount py-2">
    <div class="container py-2">
        <div class="row">
            <div class="col-lg-10 mt-2 mb-2 text-center">
                <h1>Cupon de descuento -20%: PWEB013033</h1>
            </div>

            <div class="col-lg-2 mt-1 mb-1">
                <a href="/product/list" class="dbtnH ">Shop now</a>
                
            </div>
        </div>
    </div>
</section>

<!-- DISCOUNT  -->
    <!-- PRODUCTS HOME -->
<section class="productsBuy">
    <div class="container">
        <div class="row py-4 text-center">
            <div class="col-lg-6 m-auto">
                <h1>Nuestras recomendaciones</h1>
            </div>
        </div>

        <div class="spinner"></div>

        <div class="container">
            <div class="products-container row row-cols-3 row-cols-sm-1 row-xs-1"></div>
        </div>

        <div class="row ">
            <div class="col-lg-12">
                <a href="" class="btn my-5 py-2 viewMore ">Todos los productos</a>
            </div>
        </div>
    </div>

</section>
<!--PRODUCTS HOME  -->
    <!-- ABOUT HOME-->
<section class="aboutH mt-4 mb-4 py-4 ">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-12 mx-auto col-sm-12 col-12 text-center">
                <h1>Nosotros</h1>
                <p class="mt-4 me-2 ms-2 px-2">E - Maranatha tiene como objetivo ofrecer soluciones para la piel, el cabello, 
                y el cuerpo para asi lograr un aspecto más hermoso y saludable. Somos una tienda online Argentina para comprar maquillaje, skincare y productos para el pelo. En nuestro sitio 
                encontrarás las mas reconocidas marcas nacionales de productos de belleza, cosméticos y make up como Lidherma, Idraet, Mira Dror, Carthage, Excel y más marcas líderes de química cosmética.
                <br>
                Tenemos productos para todo tipo de piel: seca, mixta, grasa, piel rosacea, etc. Encontrá lo necesario para tu rutina de limpieza y cuidado de la piel en nuestras categorías.
                Cada día trabajamos en ofrecer los mejores productos y la mejor atención a nuestros clientes. </p>
                <a href="/about" class="btn btn-info mbtn2 mt-4" role="button">Read more</a>

            </div>
        </div>
    </div>
</section>
<!-- ABOUT HOME-->

<!-- bottom Home-->
<section class="bottomH">
    <div class="container py-3">
        <div class="row py-3 text-center">
            <div class="col-lg-6 m-auto">
                <h1 class="head1">Compra en coutoas y sin interes</h1>
                <p class="per1">Consegui los mejores precios, calidad, y seguridad.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-1">
                <div class="card py-2">
                    <div class="card-body mx-auto text-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg></span>
                        <h5 class="head2 py-3">Envios gratis</h5>
                        <p class="per2">Con ordenes de $3000 o mas</p>

                    </div>

                </div>
                
            </div>

            <div class="col-lg-3 col-md-6 mt-1">
                <div class="card py-2">
                    <div class="card-body mx-auto text-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-lock2" viewBox="0 0 16 16">
                            <path d="M8 5a1 1 0 0 1 1 1v1H7V6a1 1 0 0 1 1-1zm2 2.076V6a2 2 0 1 0-4 0v1.076c-.54.166-1 .597-1 1.224v2.4c0 .816.781 1.3 1.5 1.3h3c.719 0 1.5-.484 1.5-1.3V8.3c0-.627-.46-1.058-1-1.224z"/>
                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                            </svg></span>
                        <h5 class="head2 py-3">Compra segura</h5>
                        <p class="per2">Con tarjeta de debito o credito</p>

                    </div>

                </div>
                
            </div>
            <div class="col-lg-3 col-md-6 mt-1">
                <div class="card py-2">
                    <div class="card-body mx-auto text-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                            </svg></span>
                        <h5 class="head2 py-3">Envios rapidos</h5>
                        <p class="per2">En 24 hs, envios a todo el pais</p>

                    </div>

                </div>
                
            </div>
            <div class="col-lg-3 col-md-6 mt-1">
                <div class="card py-2">
                    <div class="card-body mx-auto text-center">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg></span>
                            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg></span>
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                            <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                        </svg></span>

                        <h5 class="head2 py-3">Clientes review</h5>
                        <p class="per2">4.9 satisfaccion garantizada</p>

                    </div>

                </div>
                
            </div>

        </div>
        
        

    </div>

</section>

    <!-- bottom banner Home-->

    <!-- SUBSCRIBITE  -->
<section class="subscribite mx-auto pt-4 px-4" >    
    <div class="container subscribite">

        <div class="row ">
            <div class="col-lg-12 text-center py-3">
                
                <h1 class="head3" >Recibí novedades, promociones y beneficio</h1>
        
            </div>
        </div>

        <div class="row">
            <form action="" method="post" class="row formSubscribe g-3 smalltext">
                <div class="col-lg-3">
                    <label for="name" class="form-label subscribiteLabel"> First Name</label>
                    <input type="text" class="form-control" id="name" placeholder="First Name" required>
                </div>
                <div class="col-lg-3">
                    <label for="lastname" class="form-label subscribiteLabel">Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" required>
                </div>
                <div class="col-lg-4">
                    <label for="inputEmail4" class="form-label subscribiteLabel">Email Address</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email Address" required>
                </div>
    
                <div class="col-2 mx-auto mx-sm-auto mx-md-auto" >
                    <button type="submit" class="btn subscribiteBtn mx-auto ms-lg-4 mt-lg-4 px-2">Subscribite</button>
                </div>
            </form>
        </div>

    </div>
</section>

<!-- SUBSCRIBITE -->
    <!-- MAIN-->

<!-- FOOTER-->   
<script src="/js/index.js"></script>
<%- include('./partials/footer.ejs') %>

<!-- FOOTER--> 
