<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Link Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200&display=swap" rel="stylesheet">
        <!-- Link general css file -->
        <link href="/css/style.css" rel="stylesheet">
        <title>E-Maranatha</title>
    </head>
    <body>

        <header class="g_main-header">
            <div class="g_width-head">
                <button class="g_burguer-menu">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="g_nav-bar">
                    <ul>
                        <li><a href="#"></a>QUIENES SOMOS</li>
                        <li><a href="#"></a>SHOP</li>
                    </ul>
                </div>

                <div class="g_logo-container">
                    <a href="/"><img src="img/maranatha_logo.png" alt="Logo Maranatha"></a>
                </div>

                <div class="g_user-cart">
                    <a href="/login">
                        <i class="fa-regular fa-user"></i>
                    </a>

                    <a href="/carrito" class="g_cart-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
                <div class="g_search-header">
                    <form action="/" method="GET">
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" name="searchBar" placeholder="Busca un producto"/>
                    </form>
                </div>
            </div>
        </header>

        <main class="h_main-home">
            <section class="h_carrousel">
                <div class="h_carrousel-img-container">
                    <img src="img/foto-estetica.jpg" alt="publicidad del producto">
                </div>
                <div class="h_oriantation-carrousel">
                    <button></button>
                    <button></button>
                    <button></button>
                </div>
                <i class="fa-solid fa-chevron-left h_arrow-left h_arrow-directions"></i>
                <i class="fa-solid fa-chevron-right h_arrow-right h_arrow-directions"></i>
            </section>
            <section class="h_phrase">
                <h2>Déjate mimar frase icónica</h2>
                <p>Extensión de la frase icónica</p>
            </section>
            <section class="h_type-products">
                <article class="h_type-article">
                    <h3>Cuidado de la Piel</h3>
                    <section class="h_products-wrap">
                        <article>
                            <div>
                                <a href="/detalle-del-producto"><img src="img/producto-4.jpg" alt="imagen del producto"></a>
                            </div>
                            <h4>Product-title</h4>
                            <p class="h_discount">$500.00</p>
                            <p class="h_price">$400.00</p>
                            <button><a href="/carrito">Ir al Carrito</a></button>
                        </article>
                        <article>
                            <div>
                                <a href="/detalle-del-producto"><img src="img/producto-4.jpg" alt="imagen del producto"></a>
                            </div>
                            <h4>Product-title</h4>
                            <p class="h_discount">$500.00</p>
                            <p class="h_price">$400.00</p>
                            <button><a href="/carrito">Ir al Carrito</a></button>
                        </article>
                        <i class="fa-solid fa-chevron-left h_arrow-left"></i>
                        <i class="fa-solid fa-chevron-right h_arrow-right"></i>
                    </section>
                </article>
                <article class="h_type-article">
                    <h3>Cuidado de la Piel</h3>
                    <section class="h_products-wrap">
                        <article>
                            <div>
                                <a href="/detalle-del-producto"><img src="img/producto-4.jpg" alt="imagen del producto"></a>
                            </div>
                            <h4>Product-title</h4>
                            <p class="h_discount">$500.00</p>
                            <p class="h_price">$400.00</p>
                            <button><a href="/carrito">Ir al Carrito</a></button>
                        </article>
                        <article>
                            <div>
                                <a href="/detalle-del-producto"><img src="img/producto-4.jpg" alt="imagen del producto"></a>
                            </div>
                            <h4>Product-title</h4>
                            <p class="h_discount">$500.00</p>
                            <p class="h_price">$400.00</p>
                            <button><a href="/carrito">Ir al Carrito</a></button>
                        </article>
                        <i class="fa-solid fa-chevron-left h_arrow-left"></i>
                        <i class="fa-solid fa-chevron-right h_arrow-right"></i>
                    </section>
                </article>
            </section>
            <section class="h_brand-products">
                <article class="h_type-article">
                    <div class="h_brand-banner">
                        <img src="img/copa-invictus.jpg" alt="imagen de la marca de productos relacionados">
                    </div>
                    <h3>Paco Rabane</h3>
                    <section class="h_products-wrap">
                        <article>
                            <div>
                                <a href="/detalle-del-producto"><img src="img/producto-4.jpg" alt="imagen del producto"></a>
                            </div>
                            <h4>Product-title</h4>
                            <p class="h_discount">$500.00</p>
                            <p class="h_price">$400.00</p>
                            <button><a href="/carrito">Ir al Carrito</a></button>
                        </article>
                        <article>
                            <div>
                                <a href="/detalle-del-producto"><img src="img/producto-4.jpg" alt="imagen del producto"></a>
                            </div>
                            <h4>Product-title</h4>
                            <p class="h_discount">$500.00</p>
                            <p class="h_price">$400.00</p>
                            <button><a href="/carrito">Ir al Carrito</a></button>
                        </article>
                        <i class="fa-solid fa-chevron-left h_arrow-left"></i>
                        <i class="fa-solid fa-chevron-right h_arrow-right"></i>
                    </section>
                </article>
                <article class="h_type-article">
                    <div class="h_brand-banner">
                        <img src="img/copa-invictus.jpg" alt="imagen de la marca de productos relacionados">
                    </div>
                    <h3>Paco Rabane</h3>
                    <section class="h_products-wrap">
                        <article>
                            <div>
                                <a href="/detalle-del-producto"><img src="img/producto-4.jpg" alt="imagen del producto"></a>
                            </div>
                            <h4>Product-title</h4>
                            <p class="h_discount">$500.00</p>
                            <p class="h_price">$400.00</p>
                            <button><a href="/carrito">Ir al Carrito</a></button>
                        </article>
                        <article>
                            <div>
                                <a href="/detalle-del-producto"><img src="img/producto-4.jpg" alt="imagen del producto"></a>
                            </div>
                            <h4>Product-title</h4>
                            <p class="h_discount">$500.00</p>
                            <p class="h_price">$400.00</p>
                            <button><a href="/carrito">Ir al Carrito</a></button>
                        </article>
                        <i class="fa-solid fa-chevron-left h_arrow-left"></i>
                        <i class="fa-solid fa-chevron-right h_arrow-right"></i>
                    </section>
                </article>
            </section>
        </main>

        <footer class="g_main-footer">
            <section class="g_contacto-container">
                <h3>CONTÁCTANOS</h3>
                <div class="g_f-content-links">
                    <div><i class="fa-brands fa-facebook"></i></div>
                    <div><i class="fa-brands fa-instagram"></i></div>
                    <div><i class="fa-brands fa-whatsapp"></i></div>
                </div>
            </section>

            <section class="g_tienda-container">
                <h3>TIENDA</h3>
                <div class="g_f-content-links">
                    <a href="#">Productos</a>
                    <a href="#">Servicios</a>
                </div>
            </section>

            <section class="g_ubicacion-container">
                <h3>UBICACIÓN</h3>
                <div class="g_f-content-links">
                    <p>Avenida falsa 123</br>Concordia, Entre Rios</p>
                </div>
            </section>
        </footer>

        <script src="https://kit.fontawesome.com/bba30a0282.js" crossorigin="anonymous"></script>
    </body>
</html>