<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/bba30a0282.js" crossorigin="anonymous"></script>
    
    
    <title>E-Maranatha</title>
</head>

<body>

<!-- //HEADER -->
<header>

    <div class="main-header">
        <img src="/img/maranatha_logo.png" alt="logo-maranatha" class="logo">
    

        <div class="searchicon">

            <div class="input">Buscar tu producto</div> 

            <div class="lupa"><i class="fa fa-search" style="color: #737061;"></i></div>
        </div>
    
    
    </div>
    
    <div class="burger-menu">
        <i class="fas fa-bars" style="color: #737061;" ></i>
    </div>

    
    <nav class="main-navbar">

        <ul class="left-navbar">
            <li><a href="#">SHOP</a></li>
            <li><a href="#">QUIENES SOMOS</a></li>
            <li><a href="#">CONTACTO</a></li>
            
        </ul>   

        <ul class="rigth-navbar">
            <li><a href="#"></a><i class="fa-regular fa-bag-shopping" style="color: #737061;"></i></li>
            <li><a href="#"></a><i class="fa-regular fa-user" style="color: #737061;"></i></li>

        </ul>

    </nav>
    

</header>
<!-- //HEADER -->

<!-- //MAIN -->
<main>

</main>

<!-- //MAIN -->



<!-- //FOOTER -->
<footer>

</footer>

<!-- //FOOTER -->

    
</body>
</html>