<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <title>Carrito de compras</title>
    </head>
    <body>
        <header class="main-header">
            <section class="top-header">
                <button class="burguer-menu">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="logo-container">
                    <img src="img/maranatha_logo.png" alt="Logo Maranatha">
                </div>

                <a href="#" class="user-link">
                    <i class="fa-regular fa-user"></i>
                </a>
            </section>

            <section class="bottom-header">
                <form action="/" method="GET">
                    <div class="search-bar">
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" name="searchBar" placeholder="Busca un producto"/>
                    </div>
                </form>
            </section>
        </header>
        <main class="cart-main">
            <h1>MI CARRITO</h1>
            <article>
                <div class="left-product">
                    <div class="product-img-container">
                        <img src="img/producto-3.jpg" alt="imagen del producto">
                    </div>
                    <div class="product-description">
                        <h3>Product-title</h3>
                        <div>
                            <button><i class="fa-solid fa-minus"></i></button>
                            <p>1</p>
                            <button><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="right-product">
                    <p class="price">$100.00</p>
                    <button class="delete-item">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </article>
            <article>
                <div class="left-product">
                    <div class="product-img-container">
                        <img src="img/producto-3.jpg" alt="imagen del producto">
                    </div>
                    <div class="product-description">
                        <h3>Product-title</h3>
                        <div>
                            <button><i class="fa-solid fa-minus"></i></button>
                            <p>2</p>
                            <button><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="right-product">
                    <p class="price">$200.00</p>
                    <button class="delete-item">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </article>
            <article>
                <div class="left-product">
                    <div class="product-img-container">
                        <img src="img/producto-3.jpg" alt="imagen del producto">
                    </div>
                    <div class="product-description">
                        <h3>Product-title</h3>
                        <div>
                            <button><i class="fa-solid fa-minus"></i></button>
                            <p>3</p>
                            <button><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="right-product">
                    <p class="price">$300.00</p>
                    <button class="delete-item">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </article>
            <section class="suma-precio">
                <p>Total</p>
                <p>$100.000</p>
            </section>
            <div class="boton-pagar">
                <a href="#">Método de pago</a>
            </div>
        </main>
        <footer>
        </footer>

        <script src="https://kit.fontawesome.com/ffa4779421.js" crossorigin="anonymous"></script>
    </body>
</html>