<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Link Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
        <!-- Link general css file -->
        <link rel="stylesheet" href="css/style.css">
        <title>Detalle del producto</title>
    </head>
    <body>
        <header class="g_main-header">
            <div class="g_width-head">
                <button class="g_burguer-menu">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="g_nav-bar">
                    <ul>
                        <li><a href="#"></a>QUIENES SOMOS</li>
                        <li><a href="#"></a>SHOP</li>
                    </ul>
                </div>

                <div class="g_logo-container">
                    <a href="/"><img src="img/maranatha_logo.png" alt="Logo Maranatha"></a>
                </div>

                <div class="g_user-cart">
                    <a href="/login">
                        <i class="fa-regular fa-user"></i>
                    </a>

                    <a href="/carrito" class="g_cart-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
                <div class="g_search-header">
                    <form action="/" method="GET">
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" name="searchBar" placeholder="Busca un producto"/>
                    </form>
                </div>
            </div>
        </header>
        <main>
        </main>
        <footer class="g_main-footer">
            <section class="g_contacto-container">
                <h3>CONTÁCTANOS</h3>
                <div class="g_f-content-links">
                    <div><i class="fa-brands fa-facebook"></i></div>
                    <div><i class="fa-brands fa-instagram"></i></div>
                    <div><i class="fa-brands fa-whatsapp"></i></div>
                </div>
            </section>

            <section class="g_tienda-container">
                <h3>TIENDA</h3>
                <div class="g_f-content-links">
                    <a href="#">Productos</a>
                    <a href="#">Servicios</a>
                </div>
            </section>

            <section class="g_ubicacion-container">
                <h3>UBICACIÓN</h3>
                <div class="g_f-content-links">
                    <p>Avenida falsa 123</br>Concordia, Entre Rios</p>
                </div>
            </section>
        </footer>
        <script src="https://kit.fontawesome.com/ffa4779421.js" crossorigin="anonymous"></script>
    </body>
</html>