<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Link Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
        <!-- Link general css file -->
        <link rel="stylesheet" href="css/style.css">
        <title>Registro de Usuario</title>
    </head>
    <body>
        <header class="g_main-header">
            <div class="g_width-head">
                <button class="g_burguer-menu">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="g_nav-bar">
                    <ul>
                        <li><a href="#"></a>QUIENES SOMOS</li>
                        <li><a href="#"></a>SHOP</li>
                    </ul>
                </div>

                <div class="g_logo-container">
                    <a href="/"><img src="img/maranatha_logo.png" alt="Logo Maranatha"></a>
                </div>

                <div class="g_user-cart">
                    <a href="/login">
                        <i class="fa-regular fa-user"></i>
                    </a>

                    <a href="/carrito" class="g_cart-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>
                <div class="g_search-header">
                    <form action="/" method="GET">
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input type="text" name="searchBar" placeholder="Busca un producto"/>
                    </form>
                </div>
            </div>
        </header>
        <main class="r_main">
            <h1 class="r_title"> Crear una cuenta </h1>
            <p class="r_guide">Los elementos obligatorios estan indicados con un astericso (*)</p>
            <form action='/registro' method='GET'>
                <section class="r_inputs-section">
                    <div class="r_name-container">
                        <label for="name">Nombre</label>
                        <input  class="r_input-text" type='text' name='name' id='name' placeholder="Escribe aqui tu nombre" required>
                    </div>
                    <div class="r_email-container">
                        <label for="email">Correo electrónico</label>
                        <input class="r_input-text" type='email' name='email' id='email' placeholder='Ej: user@gmail.com' required>
                    </div>

                    <div class="r_clave-container">
                        <label for="clave1">Contraseña</label>
                        <input class="r_input-text" type='password' name='clave' id='clave1' placeholder='Escribe aqui tu contraseña' required>
                        <input class="r_input-text r_clave2" type='password' name='clave' id='clave2' placeholder='Repite tu contraseña' required>
                    </div>
                </section>
                <section class="r_options-section">
                    <div>
                        <label for="terms-conditions">Al registrarse aceptas nuestros terminos y condiciones</label>
                        <input type='checkbox' name="terms-conditions" id="terms-conditions">
                    </div>
                    <div>
                        <label for="notifications">Si, me gustaria recibir actualizaciones de E-Maranatha por correo electronico con ofertas exclusivas</label>
                        <input type='checkbox' name="notifications" id="notifications">
                    </div>
                </section>
                <div class="r_button-container">
                    <button type="submit">Registrate</button>
                </div>
            </form>
        </main>
        <footer class="g_main-footer">
            <section class="g_contacto-container">
                <h3>CONTÁCTANOS</h3>
                <div class="g_f-content-links">
                    <div><i class="fa-brands fa-facebook"></i></div>
                    <div><i class="fa-brands fa-instagram"></i></div>
                    <div><i class="fa-brands fa-whatsapp"></i></div>
                </div>
            </section>

            <section class="g_tienda-container">
                <h3>TIENDA</h3>
                <div class="g_f-content-links">
                    <a href="#">Productos</a>
                    <a href="#">Servicios</a>
                </div>
            </section>

            <section class="g_ubicacion-container">
                <h3>UBICACIÓN</h3>
                <div class="g_f-content-links">
                    <p>Avenida falsa 123</br>Concordia, Entre Rios</p>
                </div>
            </section>
        </footer>
        <script src="https://kit.fontawesome.com/ffa4779421.js" crossorigin="anonymous"></script>
    </body>
</html>