main.d_description-main {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.d_description-main section.d_img-container {
    height: 250px;
}

main.d_description-main section.d_product-interaction {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

main.d_description-main section.d_product-interaction h1{
    color: #B69C7F;
    font-size: 1.3rem;
    margin-bottom: 40px;
}

main.d_description-main section.d_product-interaction div.d_size-product {
    padding-left: 10px;
    width: 70%;
    max-width: 320px;
}

main.d_description-main section.d_product-interaction div.d_size-product form {
    display: flex;
    justify-content: space-between;
}

main.d_description-main section.d_product-interaction div.d_size-product form input {
    display: none; 
}

main.d_description-main section.d_product-interaction div.d_size-product form label {
    background-color: #B69C7F;
    border: none;
    border-radius: 0.3rem;
    color: #F7F6F4;
    padding: 1px 5px;
}

main.d_description-main section.d_product-interaction div.d_color-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    margin-left: 10px;
}

main.d_description-main section.d_product-interaction div.d_color-container h3{
    color: #B69C7F;
    display: inline-block;
}

main.d_description-main section.d_product-interaction div.d_color-container form {
    display: inline-block;
}

main.d_description-main section.d_product-interaction div.d_color-container form select {
    width: 100px;
    border-radius: 0.4rem;
    border: 1px solid #737061;
    text-align: center;
}

main.d_description-main section.d_product-interaction p.d_price {
    color: #737061;
    font-size: 1.4rem;
    margin-top: 20px;
}

main.d_description-main section.d_description-review {
    width: 100%;
}

main.d_description-main section.d_description-review div.d_title-dr {
    display: flex;
    width: 60%;
    color: #B69C7F;
}

main.d_description-main section.d_description-review div.d_title-dr h3 {
    text-align: center;
    width: 50%;
    font-size: 1rem;
    opacity: 0.7;
}

/* Reviews active */

/* .d_description-info {
    display: none;
} */

/* Description active */

.d_review-active {
    display: none;
}

main.d_description-main section.d_description-review div.d_review-section{
    display: flex;
    width: 100%;
}

main.d_description-main section.d_description-review div.d_user-review-img-container {
    width: 30%;
    max-width: 75px;
    display: inline-block;
}

main.d_description-main section.d_description-review div.d_user-review-img-container img {
    width: 100%;
}

main.d_description-main section.d_description-review div.d_review-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 10px;
}

main.d_description-main section.d_description-review p.d_date-submited-review {
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
}

main.d_description-main section.d_description-review p.d_description-review {
    font-size: 0.7rem;
    margin: 0;
}

/* Carrito button */

main.d_description-main button {
    position: fixed;
    bottom: 20px;
    background-color: #B69C7F;
    width: 80%;
    padding: 7px 0;
    border-radius: 0.5rem;
    border: none;
}

main.d_description-main button a {
    text-decoration: none;
    color: #F7F6F4;
}