section.d_description-main {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.d_description-main section.d_img-container {
    height: 250px;
}

section.d_description-main section.d_img-container div {
    width: 100%;
    height: 100%;
}

section.d_description-main section.d_img-container div img {
    width: 100%;
    height: 100%;
}

section.d_description-main section.d_product-interaction {
    align-self: flex-start;
    width: 100%;
}

section.d_description-main section.d_product-interaction h1{
    color: #B69C7F;
    font-size: 1.3rem;
    margin-bottom: 40px;
}

section.d_description-main section.d_product-interaction div.d_size-product {
    padding-left: 10px;
    width: 70%;
    max-width: 320px;
}

section.d_description-main section.d_product-interaction div.d_size-product form {
    display: flex;
    justify-content: space-between;
}

section.d_description-main section.d_product-interaction div.d_size-product form input {
    display: none; 
}

section.d_description-main section.d_product-interaction div.d_size-product form label {
    background-color: #B69C7F;
    border: none;
    border-radius: 0.3rem;
    color: #F7F6F4;
    padding: 1px 5px;
}

section.d_description-main section.d_product-interaction form {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}

section.d_description-main section.d_product-interaction form select {
    width: 100px;
    border-radius: 0.4rem;
    border: 1px solid #737061;
    text-align: center;
}

section.d_description-main section.d_product-interaction p.d_price {
    color: #737061;
    font-size: 1.4rem;
    margin-top: 20px;
}

section.d_description-main section.d_description {
    width: 100%;
}

section.d_description-main section.d_description h3 {
    width: 50%;
    font-size: 1rem;
    color: #B69C7F;
}

section.d_reviews{
    display: flex;
    position: relative;
    margin: 50px 0 0 10px;
}

section.d_reviews h3 {
    position: absolute;
    top: -55px;
    font-size: 1rem;
    color: #B69C7F;
}

section.d_reviews div.d_user-review-img-container img {
    width: 75px;
}

section.d_reviews div.d_review-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 10px;
}

section.d_reviews p.d_date-submited-review {
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
}

section.d_reviews p.d_description-review {
    font-size: 0.7rem;
    margin: 0;
}

/* Carrito button */

div.d_button-flex {
    display: flex;
    justify-content: center;
}

div.d_button-flex button.d_add-to-cart {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    background-color: #B69C7F;
    width: 80%;
    padding: 7px 0;
    border-radius: 0.5rem;
    border: none;
}

div.d_button-flex button.d_add-to-cart a {
    text-decoration: none;
    color: #F7F6F4;
}

@media (min-width: 768px) {
    section.d_description-main {
        align-items: center;
        padding: 0;
        margin: 0 0 10px 10px;
    }

    section.d_description-main section.d_img-container {
        position: absolute;
        left: 10px;
    }

    section.d_description-main section.d_product-interaction {
        width: calc(100% - 260px);
        margin: 0 0 10px 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 240px;
    }

    section.d_description-main section.d_product-interaction h1 {
        margin-bottom: 0;
    }

     section.d_description-main section.d_product-interaction div.d_size-product form {
        margin: 0;
     }

    section.d_description-main section.d_product-interaction form.d_color-input {
        margin: 0 0 0 10px;
    }

    section.d_description-main section.d_product-interaction p.d_price {
        width: 50%;
        margin: 0 0 0 10px;
    }

    section.d_description-main section.d_product-interaction div.d_button-flex {
        width: 90%;
        max-width: 500px;
        align-self: center;
    }

    section.d_description-main section.d_product-interaction div.d_button-flex button.d_add-to-cart {
        position: static;
        width: 95%;
    }

    section.d_reviews div.d_review-info {
        margin-bottom: 0;
    }
}