main.l_login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.l_login-main h1 {
    text-align: center;
    color: #b69c7f;
    font-size: 2.3rem;
}

main.l_login-main form.l_login-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

main.l_login-main form.l_login-formulario section.l_texto-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    margin: 30px 0 70px;
    width: 100%;
    max-width: 450px;
}

main.l_login-main form.l_login-formulario section.l_texto-registro div.l_nombre, div.l_clave{
    width: 100%;
    flex-grow: 0.4;
}

main.l_login-main form.l_login-formulario section.l_texto-registro div.l_nombre input,  div.l_clave input{
    width: 100%;
    background-color: #F7F6F4;
    border: none;
    border-bottom: 1px solid #E8E2D5;
    color: 737061;
    padding: 2px 0;
    font-size: 0.9rem;
}
main.l_login-main form.l_login-formulario section.l_texto-registro div.l_nombre input::placeholder, div.l_clave input::placeholder{
    color: #737061;
}

main.l_login-main form.l_login-formulario section.l_texto-registro div.l_recordar {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
}

main.l_login-main form.l_login-formulario section.l_texto-registro div.l_recordar label {
    font-size: 0.9rem;
    color: #737061;
    margin-right: 10px;
}

main.l_login-main form.l_login-formulario section.l_texto-registro div.l_button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

main.l_login-main form.l_login-formulario section.l_texto-registro div.l_button-container button {
    width: 100%;
    padding: 3px 0;
    border: none;
    background-color: #E8E2D5;
    color: #737061;
    border-radius: 0.2rem;
    box-shadow: 0px 1px 3px #737061;
    margin-top: 50px;
}

main.l_login-main form.l_login-formulario section.l_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

main.l_login-main form.l_login-formulario section.l_links div.l_google {
    border: 1px solid #737061;
    padding: 6px 12px;
    margin-bottom: 40px;
}

main.l_login-main form.l_login-formulario section.l_links div.l_google button {
    border: none;
    background-color: #F7F6F4;
    color: #737061;
    font-weight: 100;
    font-size: 1rem;
}

@media (min-width: 360px) {

}

@media (min-width: 768px){

}
