main.r_main {
    background-color: #F7F6F4;
    padding: 0px 10px;  
}

main.r_main h1.r_title {
    text-align: center;
    margin: 10px;
    color: #737061;
}

main.r_main form {
    margin-top: 20px;
}

main.r_main form section.r_inputs-section {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

main.r_main form section.r_inputs-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main.r_main section.r_inputs-section label {
    align-self: flex-start;
    color: #737061;
}

main.r_main section.r_inputs-section input::placeholder {
    color: #737061;
}

main.r_main form section.r_inputs-section input.r_input-text {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 5px;
}

main.r_main form section.r_inputs-section div.r_clave-container {
    width: 100%;
    height: 120px;
}

main.r_main form section.r_inputs-section div.r_clave-container input.r_clave2 {
    margin-top: 10px;
}

main.r_main form section.r_options-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    margin: 30px 0;
}

main.r_main form section.r_options-section div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

main.r_main form section.r_options-section div p {
    margin: 0;
    font-size: 0.85rem;
}

main.r_main form section.r_options-section div input {
    margin-right: 15px;
}

main.r_main form div.r_button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2rem;
    margin-bottom: 50px;
}

main.r_main form div.r_button-container button {
    background-color: #E8E2D5;
    color: #737061;
    border-radius: 7px;
    box-shadow: 0px 2px 3px rgba(100, 100, 100, 0.3);
    padding: 5px 80px;
    font-size: 0.95rem;
}

@media(min-width: 360px){

        main.r_main section.r_inputs-section {
            max-width: 350px;
        }
}