@import url('home-style.css');
@import url('cart-style.css');
@import url('login-style.css');
@import url('detailProduct-style.css');
@import url('register-styles.css');

 *{
    box-sizing: border-box;
 }

 body {
    font-family: 'karla', sans-serif;
    background-color: #F7F6F4;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
 }

header.g_main-header {
    width: 100%;
    background-color: #F7F6F4;
    border-bottom: 1px solid #B69C7F;
    margin-bottom: 10px;
    grid-area: "header";
}

header.g_main-header div.g_width-head {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 567px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

header.g_main-header button.g_burguer-menu {
    border: none;
    background-color: #F7F6F4;
    padding: 10px 5%;
}

header.g_main-header button.g_burguer-menu i{
    font-size: 20px;
    color: #737061;
}

header.g_main-header div.g_nav-bar {
    display: none;
}

header.g_main-header div.g_logo-container {
    width: 55px;
    height: 55px;
}

header.g_main-header div.g_logo-container img{
    width: 100%;
}

header.g_main-header div.g_user-cart {
    padding: 10px 5%;
}

header.g_main-header div.g_user-cart a i{
    font-size: 20px;
    color: #737061;
}

header.g_main-header div.g_user-cart {
        display: flex;
        justify-content: space-between;
        width: 8%;
        padding: 0;
        margin-right: 25px;
    }

header.g_main-header div.g_search-header {
    position: relative;
    left: 5%;
    width: 90%;
    height: 25px;
    max-width: 567px;
    border-radius: 1rem;
    box-shadow: 0px 0px 2px rgb(100, 100, 100);
}

header.g_main-header div.g_search-header form {
    height: 100%;
    border-radius: 1rem;
}


header.g_main-header div.g_search-header div {
    position: absolute;
    z-index: 6;
    top: 3px;
    right: 7px;
}

header.g_main-header div.g_search-header div i {
    color: #737061;
    text-shadow: 0px 0px 1px #737061;
    font-size: 0.9em;
}

header.g_main-header div.g_search-header input::placeholder {
    font-family: 'karla';
    color: rgba(115, 112, 97, 0.5);
}

header.g_main-header div.g_search-header input {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 5px 0;
    text-align: center;
    background-color: #E8E2D5;
}

footer.g_main-footer {
    margin-top: 30px;
    background-color: rgba(115, 112, 97, 0.3);
    grid-area: "footer";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

footer.g_main-footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px;
}

footer.g_main-footer section h3 {
    width: 100%;
    text-align: center;
}

footer.g_main-footer section div.g_f-content-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer.g_main-footer section.g_contacto-container div.g_f-content-links div i {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #F7F6F4;
}

footer.g_main-footer section.g_tienda-container {
    flex-direction: column;
    align-items: center;
}

footer.g_main-footer section.g_tienda-container a {
    padding: 5px 0;
    color: #F7F6F4;
}

footer.g_main-footer section.g_ubicacion-container p{
    width: 100%;
    text-align: center;
    margin: 0;
    color: #F7F6F4;
}

@media (min-width: 361px) {
    
    body {
        grid-template-rows: 100px auto 115px;
    }

    header.g_main-header {
        max-width: 100%;
    }

    footer.g_main-footer {
        flex-direction: row;
        margin-top: 0px;
    }

    footer.g_main-footer section {
        justify-content: space-between;
        height: 100%;
    }

    footer.g_main-footer section h3 {
        margin: 0;
    }

}

@media (min-width: 768px) {

    header.g_main-header div.g_width-head {
        max-width: 100%;
        height: 80px;
    }

    header.g_main-header div.g_logo-container {
        width: 50px;
        margin-left: 20px;
    }

    header.g_main-header button.g_burguer-menu {
        display: none;
    }

    header.g_main-header div.g_nav-bar {
        display: inline-block;
        order: 1;
        font-size: 0.9rem;
        width: 25%;
    }

    header.g_main-header div.g_nav-bar ul {
        display: flex;
        padding: 0;
        list-style: none;
        justify-content: space-around;
    }

    header.g_main-header div.g_nav-bar ul li {
        color: #737061;
    }

    header.g_main-header div.g_search-header {
        width: 40%;
        top: 4px;
        left: 0;
        order: 2;
        flex-grow: 0.5;
    }

    header.g_main-header div.g_search-header div {
        left: auto;
        right: 10px;
    }

    header.g_main-header div.g_search-header input {
        padding-left: 10px;
        text-align: left;
    }

    header.g_main-header div.g_user-cart {
        order: 3;
    }

    header.g_main-header div.g_user-cart a.g_cart-icon {
        display: inline-block;
    }
}