<!DOCTYPE html>
<html lang="en">

    <%- include('.././partials/head.ejs', {title: 'Login'}) %>
    <body>
        <%- include('.././partials/header.ejs') %>

        <main class="l_login-main">
            <h1>Ingresa tus datos</h1>
            <form class="l_login-formulario" action="/login" method="GET">
            
                <section class="l_texto-registro">
                    <div class="l_nombre">
                        <input type="text" name="nombre" placeholder="Nombre de usuario">
                    </div>
                    <div class="l_clave">
                        <input type="password" name="clave" placeholder="Contrase単a">
                    </div>
                    <div class="l_recordar">
                        <label for="recordar">Recuerda mis datos</label>
                        <input type="checkbox" name="recordar" id="recordar">
                    </div>
                    <div class="l_button-container">
                        <button type="submit">Ingresar</button>
                    </div>
                </section>
                <section class="l_links">
                    <div class="l_google">
                        <i class="fa-brands fa-google"></i>
                        <button type="submit">Iniciar sesion con google</button>
                    </div>
                    <div class="l_crear-cuenta">
                        多No tienes cuenta? <a href="/registro">Crear cuenta</a>
                    </div>
                    <div class="l_recuperar-cuenta">
                        <a href="/login">多Olvidaste tu contrase単a?</a>
                    </div>
                </section>

            </form>
        </main>
        <%- include('.././partials/footer.ejs') %>
    </body>
</html>