<!-- HEAD-->   
    <%- include('../partials/head.ejs', {title: 'Editar Producto'}) %>
    <!-- Link general css file --> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
   <link rel="stylesheet" href="/css/partials/stylePartials.css">
   <link rel="stylesheet" href="/css/products/productEditStyle.css">
</head>
<!-- HEAD-->   
<body>
<!-- HEADER--> 
   <%- include('../partials/header.ejs') %>
<!-- HEADER--> 

<!-- MAIN --> 
<section class="productEdit">
    <div class="container bg-white shadow rounded-lg px-3 mt-5 py-4 mb-5">
        <div class="row">
            <div class="col-lg-7">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner" id="image-container">
                    
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="col-12 col-lg-5">
                <h3 class="productName my-2 mb-4" id="product-edit-title">EDITAR PRODUCTO</h3>
                
                <div class="form-group productLabel my-2" id="title-container">
                    <label class="mb-2">Nombre del producto</label>
                </div>

                <div class="form-group productLabel my-2">
                    <label class="mb-2">Imágen del producto</label>
                    <input type="file" class="form-control" name="img" id="img" accept="image/*" multiple>
                    <div class="invalid-feedback">Las extensiones validas son .jpg .img .png .jepg .gif</div>
                </div>

                <div class="form-group productLabel my-2" id="price-container">
                    <label class="mb-2">Precio del producto</label>
                </div>

                <div class="form-group productLabel my-2">
                    <label class="mb-2" for="labels">Categorías</label>
                    <select class="form-control" name="categoria" id="labels"></select>
                    <div class="invalid-feedback">Selecciona almenos una categoria para tu producto</div>
                </div>

                <div class="form-group productLabel my-2">
                    <label class="mb-2" for="meassures">Tamaño del producto</label>
                    <select class="form-control my-2 mb-4" name="medida" id="meassures">
                        <option value="0" id="empty-size"></option>
                    </select>
                </div>

                <div class="form-group productLabel my-2">
                    <label class="mb-2" for="colors">Color</label>
                    <select class="form-control my-2 mb-4" name="color" id="colors">
                        <option value="0" id="empty-color"></option>
                    </select>
                </div>

                <div class="form-group productLabel my-2">
                    <label class="mb-2" for="brands">Marca</label>
                    <select class="form-control" name="brand" id="brands"></select>
                    <div class="invalid-feedback">Selecciona una marca para tu producto</div>
                </div>
    

                <div class="form-group productLabel my-2" id="stock-container">
                    <label class=" mb-2">Stock disponible:</label>
                </div>

                <div class="col-md-12 productLabel my-2">
                    <div class="form-group" id="detail-container">
                        <label class=" mb-2">Descripción</label>
                    </div>
                </div>

                <div class="col-md-12 productLabel my-2">
                    <div class="form-group" id="ingredients-container">
                        <label class=" mb-2">Ingredientes</label>
                    </div>
                </div>

                <div class=" my-4">
                    <button class="btn productEditBtn me-4" id="btn-edit">Update</button>
                    <button class="btn productEditBtn" id="btn-delete">Eliminar Producto</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MAIN--> 

<!-- FOOTER --> 
    <script src="https://kit.fontawesome.com/ffa4779421.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/productEditForm.js"></script>
    <script src="/js/productEdit.js"></script>
    <%- include('../partials/footer.ejs') %>

<!-- FOOTER --> 