<!-- HEAD-->   
<%- include('../partials/head.ejs', {title: 'Tu Carrito', logo: ".././img/partials/maranatha_logo.png"}) %>
<!-- Link general css file --> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link rel="stylesheet" href="/css/partials/stylePartials.css">
<link rel="stylesheet" href="/css/products/productCart.css">
</head>
<!-- HEAD-->   

<!-- HEADER--> 
<%- include('../partials/header.ejs') %>
<!-- HEADER--> 

<!-- MAIN --> 
<section class="productCart">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12 mx-auto">
                <div class="row mt-5 mb-5 gx-3">
                    <!---left side div -->
                    <div class="col-lg-8 col-11 mx-auto main-cart mb-lg-0 mb-5 ">
                        <div class="card">
                            <h2 class="mx-auto py-4"> CARRITO DE COMPRAS</h2>
                        </div>

                        <div class="card p-4 mt-2" id="carrito-container"></div>

                    </div>
                    <!---LEFT SIDE DIV-->
                    <div class="col-lg-4 col-md-11 col-sm-11 col-11 mx-auto mt-lg-0 ">

                        <div class="rigth_side p-3 shadow bg-white" id="final-price">
                                <!--<button type="submit" class="btn eliminar_editar mt-2 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill me-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                </svg>AGREGAR A FAVORITOS</button>--->
                        </div>

                        <!---discount part-->
                        <div class="discount-code mt-3 shadow">
                            <div class="card">
                                <div class="card-body">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingTwo">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                Agrega tu código de descuento: 
                                              </button>
                                            </h2>
                                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">  
                                                    <div class="mt-2">
                                                        <input type="text" name="" id="discount_code1" class="checkout_input form-control font-weight-bold" placeholder="Ingresa tu codigo de descuento" >
                                                    </div>
                                                    <button class="checkout btn btn-primary btn-sm mt-3" type="submit"> APLICAR DESCUENTO</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingThree">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                                Detalles del envío:
                                              </button>
                                            </h2>
                                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">  
                                                    <div class="mt-2">
                                                        <input type="text" name="" id="discount_code1" class="checkout_input form-control font-weight-bold" value="Direccion del cliente" >
                                                    
                                                        <button class="checkout btn btn-primary btn-sm mt-3" type="submit"> CAMBIAR LA DIRECCIÓN</button>
                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingFour">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                                Detalles de Pago:
                                              </button>
                                            </h2>
                                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">  
                                                    <div class="mt-2">
                                                        <p>Selecciona tu método de pago:</p>
                                                        <select class="checkout_input" id="payment-method">
                                                            <option>Tarjeta de Débito</option>
                                                            <option>Tarjeta de Crédito</option>
                                                            <option>Mercado Pago</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SUBSCRIBITE  -->
<%- include('../partials/subscription.ejs') %>
<!-- SUBSCRIBITE -->
<!-- MAIN --> 
<!-- FOOTER-->   
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/ffa4779421.js" crossorigin="anonymous"></script>
<script src="../js/productCart.js"></script>
<%- include('../partials/footer.ejs') %>

<!-- FOOTER--> 
