<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('.././partials/head.ejs', {title: 'Edit'}) %>
    <body>
        <!-- Header -->
        <%- include('.././partials/header.ejs') %>
    </body>
    <main>
        <h1>Edita tu producto</h1>
    </main>
    <!-- Footer -->
    <%- include('.././partials/footer.ejs') %>
</html>