<!-- HEAD-->   
<%- include('../partials/head.ejs', {title: 'Lista de Productos'}) %>
<!-- Link general css file --> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link rel="stylesheet" href="/css/partials/stylePartials.css">
<link rel="stylesheet" href="/css/products/productList.css">
</head>
<!-- HEAD-->   

<!-- HEADER--> 
<%- include('../partials/header.ejs') %>
<!-- HEADER--> 
<!-- MAIN --> 
<!--PRODUCTS LIST-->
<section class="productsList py-2 my-2">

    <div class="heading my-1 py-4">
        <h2 class="title text-center" id="filter-title">Productos seleccionados</h2>
    </div>
    
    <div class="container bg-white rounded-lg d-block d-sm-flex py-3 px-2 mt-3 mb-3">
        
        <div class="tab-nav border-right px-3">
            <div class="nav flex-column" role="tablist" aria-orientation="vertical">
                <div class="sidebar" id="sidebar">
                    <div class="wrap">
                        <div class="sidebar-content">
                            <div class="sidebar-tittle ms-4 mt-4">Filtro</div>

                            <div class="widget">
                                <div class="accord product-size">
                                    <div class="wrap" id="shop-create"></div>
                                </div>
                            </div>
                            <!--<div class="widget">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed text-md-left mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                            Tamano
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" >
                                            <div class="accordion-body">  
                                                <div class="accord product-size">
                                                    <div class="wrap">
                                                        <button class="btn color_size_btn">S</button>
                                                        <button class="btn color_size_btn">M</button>
                                                        <button class="btn color_size_btn">L</button>
                                                        <button class="btn color_size_btn">XL</button>
                                                        <button class="btn color_size_btn">XXL</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>-->
                            
                            <!--<div class="widget">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed text-md-left mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                            Colores
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo" >
                                            <div class="accordion-body">  
                                                <div class="accord product-color">
                                                    <div class="wrap">
                                                        <button class="btn color_size_btn"></button>
                                                        <button class="btn color_size_btn"></button>
                                                        <button class="btn color_size_btn"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>-->
                            <div class="widget">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed text-md-left mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                             Categorias
                                            </button>
                                        </h2>
                                        <div id="flush-collapseThree" class="accordion-collapse collapse show" aria-labelledby="flush-headingThree" >
                                            <div class="accordion-body p-0 ps-3">  
                                                <div class="list-block">
                                                    <ul class="wrapper initial" id="category-list">
                                                        <li><button  type="button" id="category-all" class="category-filter-option" onClick="productsFilter(['categorias-fk', 0], 'Todas las categorias', this)" >Todas las categorias</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingFour">
                                            <button class="accordion-button collapsed text-md-left mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                              Marcas
                                            </button>
                                        </h2>
                                        <div id="flush-collapseFour" class="accordion-collapse collapse show" aria-labelledby="flush-headingFour" >
                                            <div class="accordion-body p-0 ps-3">  
                                                <div class="accordion list-block">
                                                    <ul class="wrapper initial" id="brand-list">
                                                        <li><button  type="button" id="brand-all" class="brand-filter-option" onClick="productsFilter(['marcas-fk', 0], 'Todas las marcas', this)" >Todas las marcas</button></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="widget">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header w-auto" id="flush-headingFive">
                                            <button class="accordion-button collapsed text-md-left mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                             Precio
                                            </button>
                                        </h2>
                                        <div id="flush-collapseFive" class="accordion-collapse collapse show" aria-labelledby="flush-headingFive" >
                                            <div class="accordion-body p-0 ps-2 pt-2">  
                                                <div class="summary">
                                                    
                                                    <div class="range-track">
                                                        <input type="range" value="25" min="0" max="5000" step="1">
                                                    </div>
                                                    <div class="price-range my-2">
                                                        <span>$30 - </span>
                                                        <span>$5000</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---PRODUCTS SHOW SECTION-->
        <section class="productsBuy mt-2">
            <div class="container">
        
                <div class="spinner"></div>

                <div class="container">
                    <div class="row" id="products-container"></div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <a href="" class="btn my-5 py-2 viewMore ">Ver mas</a>
                    </div>
                </div>
            </div>

        </section>
        <!---PRODUCTS SHOW SECTION-->
        
    </div>
</section>
<!--PRODUCTS LIST-->
<!-- SUBSCRIBITE  -->
<section class="subscribite py-4 px-4" >
        
    <div class="container subscribite">
        <div class="row ">
            <div class="col-lg-12 text-center py-3">
                
                <h1 class="head3" >Recibí novedades, promociones y beneficio</h1>
        
            </div>
        </div>
        <div class="row">
            <form action="" method="post" class="row formSubscribe g-3 smalltext">
                    <div class="col-lg-3">
                    <label for="name" class="form-label subscribiteLabel">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Nombre" required>
                    </div>
                    <div class="col-lg-3">
                    <label for="lastname" class="form-label subscribiteLabel">Apellido</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Apellido" required>
                    </div>
                    <div class="col-lg-4">
                    <label for="inputEmail4" class="form-label subscribiteLabel">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
                    </div>
        
                    <div class="col-2 mx-auto mx-sm-auto mx-md-auto" >
                    <button type="submit" class="btn subscribiteBtn mx-auto ms-lg-4 mt-lg-4 px-2">Subscribite</button>
                    </div>
            </form>
        </div>

    </div>
</section>

<!-- SUBSCRIBITE -->
<!-- MAIN --> 
<!-- FOOTER-->   
<script src="/js/productList.js"></script>
<script src="https://kit.fontawesome.com/ffa4779421.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%- include('../partials/footer.ejs') %>

<!-- FOOTER--> 