<!-- HEAD-->   
    <%- include('../partials/head.ejs', {title: 'Detalle Del Producto'}) %>
    <!-- Link general css file --> 
   <link rel="stylesheet" href="/css/partials/stylePartials.css">
   <link rel="stylesheet" href="/css/products/productDetail.css">
</head>
<!-- HEAD-->  

<body>
<!-- HEADER--> 
   <%- include('../partials/header.ejs') %>
<!-- HEADER--> 

<!-- MAIN --> 
<section class="productDetail">
    <div class="container bg-white shadow rounded-lg px-3 mt-5 py-4 mb-5">
        <div class="row">
            <div class="col-lg-7">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                
                    <div class="carousel-inner" id="image-container"></div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
            <div class="col-12 col-lg-5 mt-4 mb-3">
                <h2 class="productName" id="product-name"></h2>
                <h4 class="productPrice mt-2 mb-2" id="product-price"></h4>

                <p class="mt-2 mb-2">Compra en cuotas y sin interes!</p>

                <label for="selectQuantity" class="text-muted productSize mt-2 mb-2">Cantidad:</label>
                <select class="form-select" name="selectQuanntity" id="quantity">

                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                    
                </select>

                <div class="d-grid my-4">
                    <button class="btn btn-lg productCartBtn" id="btn-agregar-carrito" type="button">Agregar al carrito</button>
                </div>

                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                <strong>Descripcion</strong>
                            </button>

                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                            <div class="accordion-body" id="product-description"></div>

                        </div>

                    </div>

               
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                <strong>Ingredientes</strong>
                            </button>

                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Cum delectus laudantium ratione, cumque nam adipisci sapiente saepe et fuga eaque, a placeat 
                                libero quasi inventore, assumenda molestiae dolore. Cupiditate, omnis?

                            </div>

                        </div>

                    </div>
                </div>

            </div>
           

        </div>


    </div>
    
  
    <div class="row productsBuy me-2 ms-2 py-4">
        <h2 class="display-6 py-5 text-center">
            Tambien te pueden gustar
        </h2>

        <% for (let i = 0; i < 4; i++) { %>

            <div class="col-lg-3 ">
                <div class="card p-2">
                    <div class="card-body">
                        <div class="star">

                        </div>
                        <a href="#"><img src="../../img/productos/pomegranate-cream.png" class="img-fluid pb-3" alt=""></a>
                        <h4 class="productNameH">Face Cream</h4>
                        <p class="productSizeH">2 x 454g / 160oz</p>
                        <h4 class="productPriceH">$3500.00</h4>
                        <button class="btnc my-4 productCartBtn">Detalle</button>

                    </div>
                </div>
            </div>

        <% } %>

    </div>

</section>
<!-- SUBSCRIBITE  -->
<section class="subscribite py-4 px-4" >
        
    <div class="container subscribite">
        <div class="row ">
            <div class="col-lg-12 text-center py-3">
                
                <h1 class="head3" >Recibí novedades, promociones y beneficio</h1>
        
            </div>
        </div>
        <div class="row">
            <form action="" method="post" class="row formSubscribe g-3 smalltext">
                    <div class="col-lg-3">
                    <label for="name" class="form-label subscribiteLabel"> First Name</label>
                    <input type="text" class="form-control" id="name" placeholder="First Name" required>
                    </div>
                    <div class="col-lg-3">
                    <label for="lastname" class="form-label subscribiteLabel">Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" required>
                    </div>
                    <div class="col-lg-4">
                    <label for="inputEmail4" class="form-label subscribiteLabel">Email Address</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email Address" required>
                    </div>
        
                    <div class="col-2 mx-auto mx-sm-auto mx-md-auto" >
                    <button type="submit" class="btn subscribiteBtn mx-auto ms-lg-4 mt-lg-4 px-2">Subscribite</button>
                    </div>
            </form>
        </div>

    </div>
</section>

<!-- SUBSCRIBITE -->

<!-- MAIN--> 

<!-- FOOTER --> 

<script src="/js/productDetail.js"></script>
<script src="/js/productAddToCart.js"></script>
<%- include('.././partials/footer.ejs') %>

<!-- FOOTER --> 