<!-- HEAD-->   
    <%- include('../partials/head.ejs', {title: 'Crear Producto'}) %>
    <!-- Link general css file --> 
   <link rel="stylesheet" href="/css/partials/stylePartials.css">
   <link rel="stylesheet" href="/css/products/productCreate.css">
</head>
<!-- HEAD-->   
<body>
<!-- HEADER--> 
    <%- include('../partials/header.ejs') %>
<!-- HEADER--> 

<!-- MAIN --> 
<section class="productCreate">
    <div class="container bg-white shadow rounded-lg px-3 mt-5 py-4 mb-5">
       
           
            <form class="row" action="/product/create" method="POST" enctype="multipart/form-data"> 
                <h3 class="productName my-2 mb-4">CREAR PRODUCTO</h3>

                <div class=" col-12 col-lg-4">

                    <div class="form-group my-4" id="imagenes">
                        <label class="mb-4 imageTitulo" for="clickFileImg">Seleccionar imagenes</label>
                        <input class="form-control mt-2" type="file" name="productImg" id="clickFileImg" multiple>
                    </div>
                
                </div>

                <div class="col-12 col-lg-8 ">

                    <div class="form-group productLabel my-4">
                        <label class="mb-2" for="title">Nombre del producto</label>
                        <input class="form-control" type="text" name="name" id="title">
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class="mb-2" for="price">Precio del producto</label>
                        <input class="form-control " type="number" name="amount" id="price">
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class="mb-2" for="labels">Categorias</label>
                        <select class="form-control" name="categoria" id="labels">

                        </select>
                    </div>
                
                    <div class="form-group productLabel my-2">
                        <label class=" mb-2" for="meassures">Tamano del producto</label>
                        <select class="form-control" name="medida" id="meassures">

                       </select>
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class=" mb-2" for="colors">Color</label>
                        <select class="form-control" name="color" id="colors">

                        </select>
                    </div>

                    <div class="form-group productLabel my-2">
                        <label class="mb-2" for="brands">Marca</label>
                        <select class="form-control" name="brand" id="brands">

                        </select>
                    </div>


                    <div class="form-group productLabel my-2">
                        <label class=" mb-2" for="stock">Stock disponible:</label>
                        <input class="form-control" type="number" name="stock" id="stock">
                    </div>

                    <div class="col-md-12 productLabel my-2">
                        <div class="form-group">
                            <label class=" mb-2" for="detail">Descripcion</label>
                            <textarea class="form-control" rows="4" name="desc" id="detail"></textarea>
                        </div>
                    </div>

                    <div class=" my-4">
                        <button class="btn productCreateBtn me-4" type="submit">Crear</button>
                        <button class="btn productCreateBtn" type="submit">Cancelar</button>
                    </div>

                </div>
            </form> 
           

       
    </div>





</section>

<!-- MAIN--> 

<!-- FOOTER-->   
    <script src="/js/productCreate.js"></script>
    <%- include('../partials/footer.ejs') %>

<!-- FOOTER--> 

